@using midterm_selectcourse.ViewModels;
@using midterm_selectcourse.Models;
@{
    List<Student> students = ViewBag.students;
    List<CurrentCurriculum> CCs = ViewBag.CCs;
}
<!--顯示學生資訊-->
<table class="table">
    <thead>
        <tr>
            <th>學生id</th>
            <th>系院</th>
            <th>學號</th>
            <th>年級</th>
            <th>班級</th>
            <th>學生姓名</th>
            <th>年級</th>
            <th>總學分</th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (Student student in students)
        {
            <tr>
                <td>@student.Student_id</td>
                <td>@student.Department_name</td>
                <td>@student.Account_number</td>
                <td>@student.Grade</td>
                <td>@student.Class_name</td>
                <td>@student.Student_name</td>
                <td>@student.Student_grade</td>
                <td>@student.Total_credits</td>
            </tr>
        }

    </tbody>
</table>

<!--選課功能-->
<!-- input裡的id 是要對應 label裡的for, input裡的name是指同一區選項表, 必須要一樣-->
<form method="post" action="/Home/ShowName">
    <input type="radio" id="searchByDepartmentAndGrade" name="search" value="departmentAndGrade" />
    <label for="searchByDepartmentAndGrade">
        <select name="department">
            <option value="">科系名</option>
            <option value="IECS">資訊</option>
            <option value="EE">電機</option>
        </select>
        <select name="grade">
            <option value="">年級</option>
            <option value="1">一</option>
            <option value="2">二</option>
            <option value="3">三</option>
            <option value="4">四</option>
        </select>
    </label><br />
    <input type="radio" id="searchByCourseID" name="search" value="courseID"/>
    <label for="searchByCourseID">選課代號查詢</label><br />

    <input type="submit" value="submit" />
    
</form>

<!--顯示已選課表-->
<table class="table">
    <thead>
        <tr>
            <th>選課代號</th>
            <th>開課班級</th>
            <th>科目名稱</th> 
            <th>教師</th>
            <th>學分</th>
            <th>上課地點/時間</th> 
            <th>實收/開放</th>
            <th>修別</th> 
        </tr>
    </thead>
    <tbody>

        @foreach (CurrentCurriculum CC in CCs)
        {
            <tr>
                <td>@CC.Course.Course_id</td>
                <td>@CC.Set_up.Department_name@CC.Set_up.Grade@CC.Set_up.Class_name</td>
                <td>@CC.Course.Course_name</td>
                <td>@CC.Teacher_name</td>
                <td>@CC.Course.Credits</td>
                <td>@CC.Classroom.Building@CC.Classroom.Room_id <br /> @CC.Section.Weekday @CC.Section.Start_time-@CC.Section.End_time</td>
                <td>@CC.Student_amount/@CC.Classroom.Capacity</td>
                <td>@CC.Course.Sort</td>
            </tr>
        }

    </tbody>
</table>
<h2>ShowName</h2>


